* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}
a {
    text-decoration: none;
}
.contenedor {
    margin: auto;
    width: 95%;
    max-width: 100%;
}
main article {
    background: white;
    padding: 0;
    padding-top: 90px;
}
/*  Enlaces del nav */
.menu {
    background: mediumseagreen;
    padding: 15px 10px;    /* 5px arriba y abajo y 0 en los lados */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .30);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.enlaces {
    display: flex;
}
.enlaces ul {
    display: flex;
    align-items: center;
}
.enlaces li {
    display: grid;
    align-items: center;
}
a {
    text-decoration: none;
}
.menu__item a {
    padding: 10px;
    color: #454546 ;
}
.menu__item a:hover {
    color: #fff;
}
/* Trabajamos con los iconos del menu y cerrar menu*/
.menu .contenedor-botones-menu {
    display: none;  /* Ocultamos los iconos de menu para que no se vea en dispositivos desktop, si le ponemos flex, aparece */
    justify-content: space-between;  /* Hacemos que los iconos de menu y cerrar menu se separen de extremo a extremo */
    border-radius: 6px;
}
 .contenedor-botones-menu .btn-menu-barras img {
    width: 35px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
}
.contenedor-botones-menu .btn-menu-cerrar img {
    width: 35px;
    height: 30px;
    cursor: pointer;
    border-radius: 6px;
}
button {
    border-radius: 6px;
    padding: 6px;
}
/* bloqueamos el boton de cerrar menu en los dispositivos desktop*/


/* Cuando el boton del menu está activo hacemos aparecer el icono de cerrar menu, lo activamos desde el javascript */
.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
    display: inline-block;
}
.menu .contenedor-enlaces-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-logo {
    display: block;
    width: 100%;
    height: 320px;
    margin: 0 auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .30);
    margin-bottom: 20px;
}
.container-img-logo {
    margin: 0 auto;
    justify-content: center;
    width: 60%;
    height: 300px;
}
.container-img-logo img {
    width: 100%;
    height: 300px;
}
.eslogan {
    text-align: center;
    margin: 0 auto;

}
.eslogan h3 {
    color: grey;
}


footer {
    width: 100%;
    background:  mediumseagreen;
    color: #364343;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .30);
    padding: 20px;
}
footer a {
    color: #364343;
    padding: 10px 0;
}
footer h3 {
    color: #364343;
}
.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 90%;
}
footer a:hover {
    color: #fff;
}
.contacto {
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.legal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
.redes {
    display: grid;
    justify-content: end;
    padding: 10px 0;
}
.redes a {
    padding: 0;
}
.container-footer img {
    height: 25px;
    width: 25px;
    object-fit: cover;
}
.container-footer img:hover {
    height: 35px;
}
@media screen and (max-width: 1000px) {
    .menu .contenedor-enlaces-nav {
        padding: 0 10px;
    }
    .menu .contenedor {
        width: 100%;
    }
    main article {
        box-shadow: none;
     }
     .container-footer {
         width: 100%;
     }
}
@media screen and (max-width: 800px) {
    body {
        background:  #c7d4d4;
    }
    .menu {
        padding: 15px 0px;    /* 5px arriba y abajo y 0 en los lados */
    }
    .menu .llama {
        display: none;
    }
     .enlaces {
        display: none;
        position: absolute;
        z-index: 2000;
        top: 75px;
        left: 0px;
        background: rgb(45, 44, 44);
        width: 70%;
        transition: all 0.5s;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, .30);
        padding:  0;
        margin: 0;
        padding-bottom: 12px;
        justify-content: center;
    }
    .enlaces a {
        color: mediumseagreen;
    }
    .enlaces a:hover {
        color: #fff;
    }
    a .navbar {
        padding: 0;
    }
    .menu .contenedor {
        width: 90%;
    }
    .menu .contenedor-botones-menu {
        display: flex;
        margin: 0 10px;
        border-radius: 6px;
    }
     .btn-menu-cerrar {
        display: none; /* mostramos el icono de cerrar menu para que no se vea en dispositivos moviles */
        border-radius: 6px;
        align-items: center;
        padding: 5px 80px 5px 5px;
    }
    .btn-menu-cerrar span {
        position: absolute;
        top: 32px;
    }
   
    .menu .contenedor-enlaces-nav {
        padding: 20px;
        flex-direction: column;  /* hace que el nav se ponga hacia abajo*/
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        top: 75px;
        background:black;
        height: 70vh;
        overflow: auto;
        width: 70%;
        z-index: 2000;
        transition: .3s ease all;
        transform: translate(-100%); /* saca el menu en la pantalla llevandolo un 100% menos de la pantalla a la izquierda*/
    }
    .menu__item {
        width: 70%;
    }
    .menu .contenedor-enlaces-nav.activo {  /* vamos activar de nuevo haciendo aparecer el menu en la pantalla con javascript*/
        transform: translate(0);
    }
    .contenedor-enlaces-nav .enlaces a:hover {
        color:green;
    }

    .menu .enlaces a {
        display: block;
        width: 70%;
    }

}
@media screen and (max-width: 600px) {
    .container-logo {
        display: block;
        margin: 0 auto;
        box-shadow: 0 0 0 10px #fff,
        0 15px 50px;
        margin-bottom: 20px;
        position: relative;
        height: 250px;
    }
    .container-img-logo {
        margin: 0 auto;
        justify-content: center;
        width: 90%;
        height: 200px;
    }
    .container-img-logo img {
        height: 200px;
    }
    .eslogan {
        position: absolute;
        top: 80%;
        left: 10%;
        right: 10%;
        text-align: center;
        margin: 0 auto;
    }
    .container-footer {
        display: block;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        justify-content: center;
    }
    }

    @media screen and (max-width: 515px) {
        .eslogan h4 {
           font-size: 13px;
        }
        .eslogan h3 {
            font-size: 13px;
    }
}
